/* Hoja de estilos para la personalización de apariencias. */
html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#inicio {
    background-color: #244e63;
    position: relative;
    margin: auto;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#navbar {
    background-color: #244e63;
    border-bottom: 2px solid black;
    color: #edefef;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 90px;
}

#accordionSidebar {
    background-color: #f38f2c;
    border-right: 2px solid black;
}

#externo {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: #f38f2c;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#externo::before {
    content: "";
    position: absolute;
    top: 0;
    right: 120px;
    width: 708px;
    height: 35px;
    transition: 2s;
    background-color: #edefef;
    transform: rotate(-45deg)translate(0, -100px);
}

#externo:hover::before {
    animation: shine 1.8s;
}

@keyframes shine {
    100% {
        transform: rotate(-45deg)translate(0, 670px);
    }
}

#interno {
    width: 480px;
    height: 480px;
    background: #244e63;
    border-radius: 9px;
    z-index: 1;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: .7rem;
    box-sizing: border-box;
    text-align: center;
}

#tablaPDF {
    color:black;
}